<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<nav *ngIf="nav.visible" class="navbar navbar-expand-lg navbar-light" style="background-color:#73167D;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle white" style="color: #FFFFFF;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Handmade Cards
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Birthday Cards</a>
          <a class="dropdown-item" href="#">Valentine's Cards</a>
          <a class="dropdown-item" href="#">Christmas Cards</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: #FFFFFF;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Thread Jewels
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Thread Earrings</a>
          <a class="dropdown-item" href="#">Thread Bangles</a>
          <a class="dropdown-item" href="#">Thread Jewels Set</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: #FFFFFF;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Garlands
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Fabric Garlands</a>
          <a class="dropdown-item" href="#">Door Garlands</a>
          <a class="dropdown-item" href="#">Photo Garlands</a>
        </div>
      </li>
    </ul>
   
    <div *ngIf="nav.info.token; else loggedOut" class="row">
      <li class="nav-item dropdown navbar-nav mr-auto" >
        <a class="nav-link dropdown-toggle white" style="color: #FFFFFF;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{nav.info.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="userprofile">My Account</a>
          <a class="dropdown-item" href="#">My Orders</a>
        </div>
      </li>
      <button class="btn btn-secondary" (click)="logout()">Logout</button>
    </div>
    
    
    <ng-template #loggedOut>
    <button class="btn btn-secondary" style="float: right;" [routerLink]="['./signinpage']">Sign In</button>
      
    </ng-template>

  </div>
</nav>

<!-- 

<ng-template #loggedOut>
  Please login.
</ng-template> -->

